@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@media screen and (max-width: 568px) {
  #welcome {
    font-size: 3em; }
  #nav a {
    font-size: 1em; }
  .content p {
    font-size: 3em; } }

@media screen and (max-width: 1024px) {
  #welcome {
    font-size: 3em; }
  #nav a {
    font-size: 3em;
    padding: 40px 10px; }
  .content p {
    font-size: 4em; } }
