@import 'variables.scss';

@media screen and (max-width: $break-sm) {
    #welcome {
        font-size: 3em;
    }

    #nav a {
        font-size: 1em;
    }

    .content p {
        font-size: 3em;
    }
}

@media screen and (max-width: $break-lg) {
    #welcome {
        font-size: 3em;
    }

    #nav a {
        font-size: 3em;
        padding: 40px 10px;
    }

    .content p {
        font-size: 4em;
    }
}
