@import 'variables.scss';

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $green;

    overflow: hidden;

    margin-top: 0;
}

#nav a {
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    color: black;
    transition: 0.25s;
    width: 25%;
}

#nav a.active {
    background-color: $cobalt;
    color: white;
}

#nav a:hover {
    transition: 0.25s;
    font-size: 200%;
    padding: 4%;
}

.dropdown {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}
