@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

$green: #61A344;
$red: #C1595E;
$yellow: #E1DD8F;
$dark: #495159;
$light: #EEEEEE;// #DEDECD;

$brown: #5F5449;
$dark-green: #2A9134;
$cobalt: #4E6378;

$primary-font: 'EB Garamond', serif;

$break-xs: 320px;
$break-sm: 568px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;
