@import 'variables.scss';

body {
    background-color: $light;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $green;

    overflow: hidden;

    margin-top: 0;
}

#nav a {
    padding: 20px 10px;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

#nav a.active {
    background-color: $cobalt;
    color: white;
}

#nav a:hover {
    transition: 0.25s;
    background-color: $cobalt;
    color: $light;
    padding: 4%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    margin: 0px 3%;
    padding: 16px;
    padding-bottom: 900px;
}

.sticky + .content {
    padding-top: 60px;
}

.heading * {
    margin: 5%;
}
