@import 'variables.scss';

body {
    background-color: $dark;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
}

div {
    background-color: $light;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $light;

    overflow: hidden;

    margin-top: 0;
}

#nav a {
    padding: 20px 10px;
    text-decoration: none;
    color: black;
}

a.active {
    background-color: $green;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    margin: 0px 1%;
    padding: 16px;
    padding-bottom: 900px;
}

.sticky + .content {
    padding-top: 60px;
}

.heading p {
    margin: 5%;
}
